alias mirrorUpdate='sudo reflector --country de --latest 15 --protocol https --sort rate --save /etc/pacman.d/mirrorlist --verbose'
alias rl='omz reload'
alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'
alias ip='ip -c'
alias rm='rm -i'
alias x='ranger'
alias h='htop'
alias wttr='curl -s wttr.in | tail -n +2 | head -n 5'
alias commit='git commit -am "$(curl -s http://whatthecommit.com/index.txt)"'
alias xx='xprop | grep -i 'class''
alias p='profanity'
alias tx='tmux attach'
alias v='vim'
alias vi='vim'
alias screenshot='xfce4-screenshooter'
