*
!README.md
!LICENSE
!.gitignore
!.gitmessage
!.gitconfig
!.spacemacs
!.zshrc
!.zshenv
!.zprofile
!.profile
!.aliases
!.env
!.functions
!.wallpaper.jpg
!.xinitrc
!.xbindkeysrc
!.config
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/betterlockscreenrc
!.config/compton
!.config/compton/compton.conf
!.config/i3/
!.config/i3/config
!.config/i3blocks/
!.config/i3blocks/config
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/neofetch/
!.config/neofetch/config.conf
!.config/picom/
!.config/picom/picom.conf
!.config/rofi/
!.config/rofi/anton.rasi
!.config/rofi/config.rasi
!.config/rofi/menu.rasi
!.config/yadm/
!.config/yadm/bootstrap
!.scripts
!.scripts/*.sh
